body{
  margin: 0;
  padding-top:20px;
  font-size:16px;
  font-family: verdana, sans-serif;
  color: #333;
  background-color: #323135;
}

.no-color-change{
  color: #333;
}
.no-change-white{
  color:white;
}


.message{
  width:300px;
  padding: 8px 16px;
  background: #2c2c2c;
  color: #ddd;

  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  right:32px;
  bottom: 32px;

  z-index: 2;

  animation: popup 7s forwards;
  
}

@keyframes popup{
  0%{
    transform: translateY(20px);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  20%,80%{
    transform: none;
    opacity: 1;
  }

  100%{
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
  }
}


.menu {
  position: fixed;
  top: 0px;
  right: 16px;
  display: flex;
  z-index: 2;
}

.sp-menu{
  margin-left: auto;
  color:gray;
}

.sp-menu #open{
  font-size:32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide{
  display: none;
}

.overlay{
  width: 100%;
  position: fixed;
  top:0;
  bottom: 0;
  right:0;
  left:0;
  background: #333;
  color: white;
  padding: 64px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.overlay.show{
  pointer-events: auto;
  animation: overlay-slide .3s forwards;
}

@keyframes overlay-slide{
  0%{
    transform: translatex(105%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100%{
    transform: none;
    opacity: 1;
  }
}

.overlay #close{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  color:gray;
  cursor:pointer;
}

.hideClose{
  animation: hideop .5s forwards;
}

@keyframes hideop {
  0% {
      opacity: 1;   
  }
  100% {
    transform: translatex(105%);
  }
}

.overlay ul {
  list-style-type: none ;
  margin: 0;
  padding:0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li{
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .4s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .5s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .6s;
}

.pc-menu {
  display: none;
}

header {
  background: black;
  /* background-image: url(img/fire.jpg);
  background-repeat: no-repeat;
  background-position: center center; */
  color: #fff;
  text-align: center;
  padding-top: 0;
}


header .info{
text-align:center;
}

header h1 ,
header p {
  margin: 0;
  opacity: 0;
  animation: h1-slide 3s forwards;
}

@keyframes h1-slide{
  0%{
    transform: translatex(-100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  20%,100%{
    transform: none;
    opacity: 1;
  }
}

header a{
  text-decoration: none;
  color:white;
}

header h1{
  position: relative;
  display: inline-block;
  margin-top:64px;
  /* text-decoration: none; */
}

header h1::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 1s;
}

header h1:hover::after {
  transform: scale(1, 1);
}

header p{
  position: relative;
  display: inline-block;
  text-decoration: none;
}

header p::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 1s;
}

header p:hover::after {
  transform: scale(1, 1);
}

header img {
  height: 280px;
  /* width: 280px; */
  /* vertical-align: bottom; */
  opacity: 0;
  filter: grayscale(100%);
  transition-duration: 0.5s;

  animation: img-slide 3s forwards;
  animation-delay: 2s;
}

@keyframes img-slide{
  0%{
    transform: translatex(-100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  20%,100%{
    transform: none;
    opacity: 1;
  }
}  

header img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
}

.btn{
  text-decoration: none;
  background:#fff;
  color: #f59a00;
  display:block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0;

  animation: btn-slide 3s forwards;
  animation-delay: 1s;
}

@keyframes btn-slide{
  0%{
    transform: translatex(-100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  20%,100%{
    transform: none;
    opacity: 1;
  }
}

.btn:hover{
  transition: .5s;
  color:red;
}

.features{
  text-align: center;
  background-color:rgb(187,187,187);
  padding-bottom: 30px;
}

.features img{
  width: 320px;
  margin-bottom:30px
}

.features .pic {
  margin: 100px auto 20px auto;
  height: 150px;
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.features .info{
  height:150px;
}

.gallery {
  margin: 0 22px 0 22px;
  border: #333 solid 4px;
  background: gray

}
 
.gallery-cell {
  height: 500px;
  width: 100%;
  padding:10px 50px 10px 50px;
  vertical-align: middle;
  background-color:white;
  counter-increment: gallery-cell;
}



.features  h1{
  margin: 64px 0 ;
  display: inline-block;
  position: relative;
  
}

.features h1::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 1s;
}

h1:hover::after {
  transform: scale(1, 1);
}

.features p{
  line-height: 1.8;
}

.members{
  text-align: center;
  background:rgb(227,227,227);
}

.members a{
  text-decoration: none;
  color:#333;
}

.members >  h1{
  margin: 64px 0 ;
  display: inline-block;
  position: relative;
}

.members h1::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 1s;
}

h1:hover::after {
  transform: scale(1, 1);
}

.members h2{
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.members h2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 1s;
}

.members h2:hover::after {
  transform: scale(1, 1);
}

.members ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.members .a{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto; 
}  

.members img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.a:hover img{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  animation: move 5s ease-in-out;
}

@keyframes move {
20%{transform: translateY(-10px);}
40%{transform: translate(20px,-200px);}
50%{transform: translate(-300px,200px);}
60%{transform: translate(310px,120px);}
70%{transform: translate(-180px,0px);}
80%{transform: translate(200px,-140px)}
90%{transform: translate(-190px,-40px);}
100%{
  transform: translateY(-20px);
  transform: none;
 }
}

.members h2{
  font-size: 20px;
}

.members li{
  padding-bottom: 40px;
}

.call-to-action{
  /* background: #f59a00; */
  background:white ;
  color: black;
  text-align: center;
  padding-bottom:64px;
}

.call-to-action h1{
  margin: 64px 0;
  display: inline-block;
  position: relative;
}

.call-to-action a{
  text-decoration: none;
}

.call-to-action  h1::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 1s;
}

.call-to-action h1:hover::after {
  transform: scale(1, 1);
}

.contact-btn{
  text-decoration: none;
  background:rgb(0,0,0);
  color: #f59a00;
  display:block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0;

  animation: btn-slide 3s forwards;
  animation-delay: 1s;
}

@keyframes btn-slide{
  0%{
    transform: translatex(-100%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  20%,100%{
    transform: none;
    opacity: 1;
  }
}

.contact-btn:hover{
  transition: .5s;
  color:red;
}

/* ここからグルグル */
.spin {
  text-decoration: none;
  background:rgb(77,76,76);
  color: white;
  display:block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;

  border: none;
  outline: none;

  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.spin:before {
  content: attr(data-content-default);
}

.spin:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  animation: spinner 200ms infinite linear;
}

.spin:active:before {
  content: attr(data-content-spinning);
}

@keyframes spinner {
  from {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: rotateX(0) rotateY(-360deg);
  }
  to {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
/* ぐるぐる終わり */

.spin:hover{
  background: rgba(77,76,76, .8);
  /* transition: .5s; */
  
}

footer{
  padding: 64px 0;
  background: #323135;
  color: #98969c;
  text-align: center;
}

@media (min-width: 900px) {

  header h1 {margin: 20px 0;}
  .features h1 {margin: 20px 0;}
  .members h1 {margin: 20px 0;}
  .call-to-action h1 {margin: 20px 0 60px 0;}

  .except-footer{
    display: flex;
    margin: 0;
    padding: 0;
  }

  header{
    width: 35%;
    margin: 0;
    padding:64 0 0 0 ;
  }

  header .pic{
    margin-top:160px;
  }
  
.features {
    width: 30%;
    margin:0;
    padding:0;
}

.gallery-cell {
  height: 500px;
  width: 100%;
  padding:0px 20px 0px 20px;
  vertical-align: middle;
  background-color:white;
  counter-increment: gallery-cell;
}

.features .pic {
  margin: 70px auto 20px auto;
  height: 150px;
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.features img{
  width: 180px;
}

.pc{
    width:35%;
    background: white;
}

.members {
    width: 100%;
    background: white;
}

.members li{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

  .pc-about{
    /* width: 100%; */
    width: 50%;
    padding-left: 10px;
  }

  .call-to-action{
    padding-bottom:0px;
  }

  footer{
    flex: none;
    padding:14px 0;
  }

  .sp-menu {
      display: none;
  }

}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .gallery-cell.pic{
  height: 50%;
}
.gallery-cell.pic{
  height: 50%;
} */



/* ジャンプ */
#jump:hover{
  animation: buruburu .5s infinite linear;
  cursor: grab;
}

@keyframes buruburu {
  20%{transform: rotate(20deg);;}
  30%{transform: rotate(-20deg);}
  40%{transform: rotate(20deg);}
  50%{transform: rotate(-20deg);}
  60%{transform: rotate(20deg);}
  70%{transform: rotate(-20deg);}
  80%{transform: rotate(20deg);;}
  }

#jump:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  animation: jump .5s infinite linear;
}
@keyframes jump {
20%{transform:translateY(-300px) scale(3);}
30%{transform:translateY(-300px) scale(3) rotate(-20deg);}
40%{transform:translateY(-300px) scale(3) rotate(20deg);}
50%{transform:translateY(-300px) scale(3) rotate(-20deg);}
60%{transform:translateY(-300px) scale(3) rotate(20deg);}
70%{transform:translateY(-300px) scale(3) rotate(-20deg);}
80% {transform:translateY(-300px) scale(3);}
}

/* おみくじ */

#omikuji {
  width: 100px;
  height: 100px;
  /* background: #ef454a; */
  background: #e3e3e3;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
  color: #303030;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 10px 0 #9c9c9c;
  user-select: none;
}

#omikuji:hover{
  opacity: 0.9
}    
#omikuji:active{
  margin-top: 5px;
  margin-bottom: -5px;
  box-shadow: 0 5px 0 #9c9c9c;
  transition-duration: .1s;
}
